/* 暗黑模式自定义样式 */
html.dark {
  --zb-border-light: 1px solid #4c4d4f;
  --background-color: none;
  --primary-color: #fff;
  --secondary-color: #999;
  --hover-color: #263445;
  --active-color: #060708;

  body {
    background: var(--background-color);
  }

  /* 编辑器 & 富文本 */
  .w-e-toolbar,
  .w-e-text-container,
  .w-e-menu-panel,
  .md {
    background: var(--background-color) !important;
  }

  #app {
    .sidebar-container {
      background: var(--el-bg-color) !important;

      .el-menu .el-sub-menu > .el-sub-menu__title,
      .el-sub-menu .el-menu-item {
        background-color: var(--el-bg-color) !important;

        &:hover {
          background-color: var(--hover-color) !important;
        }

        &.is-active {
          background-color: var(--active-color) !important;
        }
      }

      .el-menu a .el-menu-item {
        background-color: var(--el-bg-color) !important;

        &:hover {
          background-color: var(--hover-color) !important;
        }
      }
    }
  }

  .sidebar-logo-container {
    box-sizing: border-box;
    background: var(--background-color);
    border: var(--zb-border-light);
  }

  .el-drawer__header span,
  .theme-item {
    color: var(--el-text-color-primary) !important;
  }

  .el-table .is-leaf {
    background: #141414 !important;

    .cell {
      color: var(--primary-color) !important;
    }
  }

  .footer-layout {
    color: var(--primary-color);
    background: var(--background-color);
  }

  .zb-pro-table {
    .header,
    .footer {
      background: var(--background-color) !important;
      border: var(--zb-border-light);
    }

    .el-table__header th {
      color: var(--primary-color) !important;
    }
  }

  /* Header */
  .m-layout-header {
    height: 92px;
    color: var(--el-text-color-primary) !important;

    .m-header-inner {
      background-color: var(--el-bg-color) !important;
      border-bottom: var(--zb-border-light);

      .header-icon {
        color: #bfcbd9 !important;
      }
    }

    .tag-container {
      box-sizing: border-box;
      background: var(--el-bg-color) !important;
      border: none;
    }
  }

  /* 内容区 */
  .app-main {
    color: var(--el-text-color-primary) !important;
    background-color: var(--el-bg-color) !important;

    .echarts-map,
    .app-echarts {
      background: var(--el-bg-color) !important;
    }

    .app-container {
      .header,
      .footer {
        background: var(--background-color);
      }
    }

    .m-container-layout .m-container-layout-inner {
      color: var(--el-text-color-primary) !important;
      background: var(--background-color);
    }

    .item-group-item {
      color: #ccc;
      background: var(--background-color) !important;
      border: var(--zb-border-light);
    }

    .app-container-inner,
    .app-main-inner {
      background: var(--background-color);
    }
  }

  /* 登录 */
  .login-container {
    background-color: #191919 !important;

    .login-box {
      background-color: #000c !important;

      .login-form {
        background-color: #141414 !important;

        .title {
          color: var(--el-text-color-primary) !important;
        }
      }
    }

    .info-qrcode {
      background: white;
    }
  }

  .el-scrollbar {
    border: var(--zb-border-light);
    border-top: none;
  }
}
