/* sidebar */
$sideBarWidth: 210px;
$menuText: #bfcbd9;
$menuActiveMenu: #409eff;
$subMenuActiveText: #409eff;
$menuBackground: #191a23;

/* 全局 css 变量 */
$primaryColor: var(--el-color-primary);


:export {
  sideBarWidth: $sideBarWidth;
  menuText: $menuText;
  menuActiveMenu: $menuActiveMenu;
  subMenuActiveText: $subMenuActiveText;
  menuBackground: $menuBackground;
  primaryColor: $primaryColor;
}
