.login-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow: hidden;
  background-color: #f0f2f5;

  .login-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;

    .switch_dark {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .login-left {
      width: 50%;

      img {
        width: 100%;
        max-width: 900px;
      }
    }

    .login-form {
      position: relative;
      box-sizing: border-box;
      width: 50%;
      max-width: 480px;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 2px 12px #0000001a;

      .avatar_box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        img {
          width: 60px;
          margin-right: 10px;
        }

        .title {
          margin: 0;
          font-size: 30px;
          white-space: nowrap;
        }
      }

      :deep .el-input__inner {
        height: 40px;
      }

      .login_btn {
        width: 100%;
        height: 47px;
        margin-top: 20px;
      }
    }
  }
}

@media (width <= 850px) {
  .login-container {
    padding: 10px;
  }

  .login-box {
    .login-form {
      width: 88%;

      .title {
        font-size: 20px;
      }
    }
  }

  .login-left {
    display: none;
  }
}
