.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  box-sizing: border-box;

  .login-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;

    .switch_dark {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .login-left {
      width: 50%;

      img {
        width: 100%;
        max-width: 900px;
      }
    }

    .login-form {
      position: relative;
      padding: 25px 40px;
      width: 50%;
      max-width: 480px;
      border-radius: 10px;
      box-shadow: 0 2px 12px #0000001a;
      box-sizing: border-box;

      .avatar_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        img {
          margin-right: 10px;
          width: 60px;
        }

        .title {
          margin: 0;
          font-size: 30px;
          white-space: nowrap;
        }
      }

      .el-row {
        margin-bottom: 20px;
        height: 50px;

        .el-col {
          height: 100%;
        }
      }

      .captcha {
        height: 50px;

        --tw-bg-opacity: 1 !important;

        background-color: rgb(195 212 242 / var(--tw-bg-opacity))!important;
      }

      :deep .el-input__inner {
        height: 50px;
      }

      .login_btn {
        margin-bottom: 16px;
        width: 100%;
        height: 40px;
      }

      .trigger-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;

        span {
          font-size: 16px;
          color: #409eff;
          cursor: pointer;
        }
      }
    }
  }
}

@media (width <= 850px) {
  .login-container {
    padding: 10px;
  }

  .login-box {
    .login-form {
      width: 88%;

      .title {
        font-size: 20px;
      }
    }
  }

  .login-left {
    display: none;
  }
}
